html {
    background: #000; }

body {
    margin: 0; }
  
#grid {
    font-family: monospace;
    font-size: 30px;
    position: fixed;
    top: 0;
    left: 0;
    border-collapse: collapse; } /*removing this might mess up controls a bit*/

td {
    cursor: default;
    width: 50px; 
    height: 50px; 
    max-width: 50px; 
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;  
    text-align: center;
    background-color: #666;  }

.wall {
    background-image: url('stoneWall4.jpg');
    background-size: contain;
    background-color: #333; }
.open {
    background-color: #666; 
    background-image: url('floorTile4.png');
    background-size: contain; }

#mapBackdrop {
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0; }

#mapTable {
    font-size: 4px;
    visibility: hidden;
    border-collapse: collapse;
    margin: 50px auto; }

#map {
    width: 5px; 
    height: 5px; 
    max-width: 5px; 
    max-height: 5px;
    min-width: 5px;
    min-height: 5px; }

.hudContainer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 60px; 
    position: fixed;
    top: 0;
    left: 0; }

.hud {
    cursor: pointer;
    margin: 2.5px;
    padding: 5px 5px 0 5px;
    background-color: #999;
    opacity: 0.8;
    border: 2px solid black;
    border-radius: 10px;
    height: 20px; }

/*CLASS NAMES OF TD*/
.pawn { 
    cursor: pointer;    
    background-image: url('floorTile4.png');
    background-size: contain;  }
.knight { 
    cursor: pointer; 
    background-image: url('floorTile4.png');
    background-size: contain; }
.king {
    cursor: pointer;
    color: gold; 
    background-image: url('floorTile4.png');
    background-size: contain; }
.health {
    cursor: pointer;
    color: crimson; 
    background-image: url('floorTile4.png');
    background-size: contain; }
.point {
    cursor: pointer;
    color: lime; 
    background-image: url('floorTile4.png');
    background-size: contain; }
.sword {
    cursor: pointer;
    color: white; 
    background-image: url('floorTile4.png');
    background-size: contain; }
.player {
    background-image: url('floorTile4.png');
    background-size: contain; }

img {
    max-width: 40px;
    max-height: 40px;
}