html {
    background: #000; }

body {
    margin: 0; }
  
#grid {
    position: fixed;
    top: 0;
    left: 0;
    border-collapse: collapse; } /*removing this might mess up controls a bit*/

td {
    cursor: default;
    width: 60px; 
    height: 60px; 
    max-width: 60px; 
    max-height: 60px;
    min-width: 60px;
    min-height: 60px;  
    text-align: center;  }

.wall0 {
    background-image: url('wall0.png');
    /*background-repeat: no-repeat;
    background-position: center; */
    background-size: 62px 62px; }
.wall1 {
    background-image: url('wall1.png');
    background-size: 62px 62px; }
.wall2 {
    background-image: url('wall2.png');
    background-size: 62px 62px; }
.wall3 {
    background-image: url('wall3.png');
    background-size: 62px 62px; }
.wall4 {
    background-image: url('wall4.png');
    background-size: 62px 62px; }
.wall5 {
    background-image: url('wall5.png');
    background-size: 62px 62px; }
.wall6 {
    background-image: url('wall6.png');
    background-size: 62px 62px; }
.wall7 {
    background-image: url('wall7.png');
    background-size: 62px 62px; }
.wall8 {
    background-image: url('wall8.png');
    background-size: 62px 62px; }
.wall9 {
    background-image: url('wall9.png');
    background-size: 62px 62px; }
.open {
    background-image: url('floorTile4.png');
    background-size: cover; }

#mapBackdrop {
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0; }

#mapTable {
    font-size: 4px;
    visibility: hidden;
    border-collapse: collapse;
    margin: 50px auto; }

#map {
    width: 5px; 
    height: 5px; 
    max-width: 5px; 
    max-height: 5px;
    min-width: 5px;
    min-height: 5px; }

.hudContainer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 60px; 
    position: fixed;
    top: 0;
    left: 0; }

.hud {
    cursor: pointer;
    margin: 2.5px;
    padding: 5px 5px 0 5px;
    background-color: #999;
    opacity: 0.8;
    border: 2px solid black;
    border-radius: 10px;
    height: 20px; }

/*CLASS NAMES OF TD*/
.pawn { 
    cursor: pointer;    
    background-image: url('floorTile4.png');
    background-size: contain;  }
.knight { 
    cursor: pointer; 
    background-image: url('floorTile4.png');
    background-size: contain; }
.king {
    cursor: pointer;
    color: gold; 
    background-image: url('floorTile4.png');
    background-size: contain; }
.health {
    cursor: pointer;
    color: crimson; 
    background-image: url('floorTile4.png');
    background-size: contain; }
.point {
    cursor: pointer;
    color: lime; 
    background-image: url('floorTile4.png');
    background-size: contain; }
.sword {
    cursor: pointer;
    background-image: url('floorTile4.png');
    background-size: contain; }
.player {
    background-image: url('floorTile4.png');
    background-size: contain; }

img {
    max-width: 40px;
    max-height: 40px;
}